can2mqtt_core/.vs/
can2mqtt_core/can2mqtt_core/bin/
can2mqtt_core/can2mqtt_core/obj/
infos/private/
can2mqtt_core/can2mqtt_tool/bin/
can2mqtt_core/can2mqtt_tool/obj/
can2mqtt_core/can2mqtt_socketcandtest/bin/
can2mqtt_core/can2mqtt_socketcandtest/obj/
can2mqtt_core/can2mqtt_ttytool/bin/Debug/
can2mqtt_core/can2mqtt_ttytool/bin/
can2mqtt_core/can2mqtt_tests/bin/
can2mqtt_core/can2mqtt_tests/obj/can2mqtt,tests.csproj.nuget.dgspec.json
can2mqtt_core/can2mqtt_tests/obj/
can2mqtt_core/can2mqtt_core/config.json
can2mqtt_core/can2mqtt_core/.vscode/
/.vs
*.user
